<div class="d-flex justify-content-center align-items-center mt-5" *ngIf="user">
  <mat-card appearance="outlined" style="width: 500px">
    <mat-card-header
      ><mat-card-title
        >הפרופיל של {{ user.name }}</mat-card-title
      ></mat-card-header
    >
    <mat-card-content>
      <div class="row">
        <div class="col-4 text-center">
          <img
            src="{{ user.photo }}"
            width="100px"
            height="100px"
            style="border-radius: 50%"
          />
          <div *ngIf="currentUser" class="mt-3">
            <button mat-flat-button color="primary" routerLink="/edit-profile">
              עריכת פרופיל
            </button>
          </div>
        </div>
        <div class="col-6">
          <p>
            שם משתמש:
            {{ user.name }}
          </p>
          <p>
            אימייל:
            {{ user.email }}
          </p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
