.spacer {
  flex: 1 1 auto;
}
span:focus {
  outline: none;
  border: none;
}
span {
  cursor: pointer;
}
.mat-toolbar {
  height: 5vh;
  position: sticky;
  z-index: 9999;
  top: 0;
}
.mat-sidenav-container {
  position: absolute;
  background-color: transparent;
}
.mat-sidenav {
  width: 50%;
  text-align: center;
  padding-top: 1rem;
}
.shrink-toolbar {
  height: 4vh;
  background-color: #008846 !important;
}
.mat-toolbar.mat-primary {
  background: #008846c9;
  color: white !important;
}
