.spacer {
  flex: 1 1 auto;
}
span:focus {
  outline: none;
  border: none;
}
span {
  cursor: pointer;
}
.mat-toolbar {
  height: 7vh;
}
.mat-sidenav-container {
position: absolute;
  background-color: transparent;
  min-height: 93vh !important;
}
.mat-sidenav {
  width: 50%;
  text-align: center;
  padding-top: 1rem;
}
.mat-sidenav-content {
  height: 93vh !important;
}