<div>
  <mat-sidenav-container dir="rtl" style="width: 100%;">
    <mat-sidenav
      color="primary"
      #sidenav
      mode="over"
      opened="false"
    >
      <div>
        <div *ngIf="_auth.authState as user; else showLogin">
          <button mat-button [matMenuTriggerFor]="menu">
            <img
              src="{{ user.photoURL }}"
              height="30px"
              width="30px"
              style="border-radius: 50%"
            />
            {{ user.displayName }}
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              *ngIf="
                user.uid == '2cXuXRRfYaaItvmuNZESMJUtpCb2' ||
                user.uid == 'b8txRyLkBNZ1jQsiCkKtKO7nD6o2'
              "
              routerLink="/dashboard"
              (click)="sidenav.toggle()"
            >
              ניהול בלוג
            </button>
            <button mat-menu-item routerLink="/edit-profile">
              עריכת פרופיל
            </button>
            <button mat-menu-item (click)="_auth.logout()">התנתק</button>
          </mat-menu>
        </div>
        <ng-template #showLogin>
          <button mat-button routerLink="/login">התחבר</button>
        </ng-template>
      </div>
    </mat-sidenav>
    <mat-sidenav-content cdkScrollable style="height: 100vh;">
      <mat-toolbar
        color="primary"
        [ngClass]="{ 'shrink-toolbar': shrinkToolbar }"
      >
        <div>
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <i class="fas fa-hat-wizard fa-lg"></i>
        <span>&nbsp;</span>
        <span routerLink="/blog" style="font-size: 1.5rem">מכשפת יער</span>
        <span class="spacer"></span>
        <div>
          <div *ngIf="_auth.authState as user; else showLogin">
            <button mat-button [matMenuTriggerFor]="menu">
              <img
                src="{{ user.photoURL }}"
                height="35px"
                width="35px"
                style="border-radius: 50%"
              />
              {{ user.displayName }}
              <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button
                mat-menu-item
                *ngIf="
                  user.uid == '2cXuXRRfYaaItvmuNZESMJUtpCb2' ||
                  user.uid == 'b8txRyLkBNZ1jQsiCkKtKO7nD6o2'
                "
                routerLink="/dashboard"
              >
                ניהול בלוג
              </button>
              <button mat-menu-item routerLink="/edit-profile">
                עריכת פרופיל
              </button>
              <button mat-menu-item (click)="_auth.logout()">התנתק</button>
            </mat-menu>
          </div>
          <ng-template #showLogin>
            <button mat-button (click)="_auth.login()">התחבר</button>
          </ng-template>
        </div>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
