<ng-container *ngIf="post">
  <div [hidden]="!editing">
    <mat-card appearance="outlined">
      <h1>ערוך פוסט</h1>
      <mat-form-field style="text-align: right">
        <input
          matInput
          placeholder="כותרת הפוסט"
          [(ngModel)]="post.title"
          name="title"
        />
      </mat-form-field>
      <div style="width: 300px">
        <dx-tag-box
          [items]="tagsItems"
          [acceptCustomValue]="true"
          placeholder="תגיות"
          [rtlEnabled]="true"
          [(value)]="tags"
          [searchEnabled]="true"
          (onCustomItemCreating)="onCustomItemCreating($event)"
        >
        </dx-tag-box>
      </div>
      <br />
      <!-- <mat-form-field> -->
      <dx-html-editor height="725px" [(value)]="post.content">
        <dxo-toolbar [multiline]="true">
          <dxi-item name="undo"></dxi-item>
          <dxi-item name="redo"></dxi-item>
          <dxi-item name="separator"></dxi-item>
          <dxi-item
            name="size"
            [formatValues]="[
              '8pt',
              '10pt',
              '12pt',
              '14pt',
              '18pt',
              '24pt',
              '36pt'
            ]"
          ></dxi-item>
          <dxi-item
            name="font"
            [formatValues]="[
              'Arial',
              'Courier New',
              'Georgia',
              'Impact',
              'Lucida Console',
              'Tahoma',
              'Times New Roman',
              'Verdana',
              'Rubik'
            ]"
          ></dxi-item>
          <dxi-item name="separator"></dxi-item>
          <dxi-item name="bold"></dxi-item>
          <dxi-item name="italic"></dxi-item>
          <dxi-item name="strike"></dxi-item>
          <dxi-item name="underline"></dxi-item>
          <dxi-item name="separator"></dxi-item>
          <dxi-item
            name="align"
            [formatValues]="['left', 'right', 'center', 'justify']"
          ></dxi-item>
          <dxi-item name="increaseIndent"></dxi-item>
          <dxi-item name="decreaseIndent"></dxi-item>
          <dxi-item name="separator"></dxi-item>
          <dxi-item name="orderedList"></dxi-item>
          <dxi-item name="bulletList"></dxi-item>
          <dxi-item name="separator"></dxi-item>
          <dxi-item name="subscript"></dxi-item>
          <dxi-item name="superscript"></dxi-item>
          <dxi-item
            name="header"
            [formatValues]="[false, 1, 2, 3, 4, 5, 6]"
          ></dxi-item>
          <dxi-item name="separator"></dxi-item>
          <dxi-item name="color"></dxi-item>
          <dxi-item name="background"></dxi-item>
          <dxi-item name="separator"></dxi-item>
          <dxi-item name="link"></dxi-item>
          <dxi-item name="image"></dxi-item>
          <dxi-item name="separator"></dxi-item>
          <dxi-item name="clear"></dxi-item>
          <dxi-item name="codeBlock"></dxi-item>
          <dxi-item name="blockquote"></dxi-item>
          <dxi-item name="separator"></dxi-item>
          <dxi-item name="insertTable"></dxi-item>
          <dxi-item name="deleteTable"></dxi-item>
          <dxi-item name="insertRowAbove"></dxi-item>
          <dxi-item name="insertRowBelow"></dxi-item>
          <dxi-item name="deleteRow"></dxi-item>
          <dxi-item name="insertColumnLeft"></dxi-item>
          <dxi-item name="insertColumnRight"></dxi-item>
          <dxi-item name="deleteColumn"></dxi-item>
          <dxi-item name="variable"></dxi-item>
        </dxo-toolbar>
        <dxo-media-resizing [enabled]="true"> </dxo-media-resizing>
      </dx-html-editor>
      <!-- <textarea matInput placeholder="Post content" [(ngModel)]="post.content" name="content" rows="10"></textarea> -->
      <!-- </mat-form-field> -->
      <br />
      <div style="text-align: left">
        <button mat-button (click)="editing = false" *ngIf="editing">
          ביטול
        </button>
        <button mat-raised-button (click)="updatePost()" color="accent">
          שמור
        </button>
      </div>
    </mat-card>
  </div>

  <div [hidden]="editing">
    <mat-card appearance="outlined">
      <div style="display: flex; justify-content: center">
        <img
          *ngIf="post.image"
          mat-card-image
          src="{{ post.image }}"
          alt="{{ post.title }}"
        />
      </div>
      <h2 style="text-align: center; color: #000">
        {{ post.title }}{{ post.draft ? "(טיוטה)" : "" }}
      </h2>
      <p style="text-align: center">
        <small
          >נכתב ע"י {{ post.author }} &bull; ב
          {{ post.published.seconds * 1000 | date: "dd/MM/yyyy HH:mm" }}</small
        >
      </p>
      <div>
        <div
          class="
            sharethis-inline-share-buttons
            st-center st-inline-share-buttons st-animated
          "
          id="st-1"
        >
          <div
            class="st-btn st-first"
            data-network="facebook"
            style="display: inline-block"
            (click)="share('facebook')"
          >
            <img
              alt="facebook sharing button"
              src="https://platform-cdn.sharethis.com/img/facebook.svg"
            />
          </div>
          <div
            class="st-btn"
            data-network="whatsapp"
            style="display: inline-block"
            (click)="share('whatsapp')"
          >
            <img
              alt="whatsapp sharing button"
              src="https://platform-cdn.sharethis.com/img/whatsapp.svg"
            />
          </div>
        </div>
      </div>
      <mat-card-content>
        <div [innerHTML]="post.content | safeHtml"></div>
        <div
          class="mt-2 pb-2 row"
          style="font-size: 1rem; font-family: Rubik; color: #ffab40"
        >
          <div
            *ngIf="nextPost"
            class="col-6"
            style="text-decoration: underline"
            [routerLink]="['/blog', nextPost.id]"
          >
            <i class="fas fa-caret-right"></i> {{ nextPost.title }}
          </div>
          <div
            *ngIf="prePost"
            class="col-6"
            style="text-align: left; text-decoration: underline"
            [routerLink]="['/blog', prePost.id]"
          >
            {{ prePost.title }} <i class="fas fa-caret-left"></i>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions
        align="end"
        *ngIf="_auth.currentUserId === post.authorID"
      >
        <button mat-icon-button (click)="editing = true" color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="delete(post.id)" color="warn">
          <mat-icon>delete</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="visible()"
          [color]="post.draft ? 'warn' : 'primary'"
        >
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    <div *ngIf="post.comments">
      <mat-card appearance="outlined" *ngIf="post.comments.length > 0">
        <h1 style="text-align: center">תגובות</h1>
        <div *ngFor="let comment of post.comments; let i = index">
          <span
            >שם המגיב: <b>{{ comment.name }}</b></span
          >
          <br />
          <blockquote style="background-color: #f9f9f9">
            {{ comment.content }}
          </blockquote>
          <div *ngIf="_auth.afAuth.authState | async as user">
            <button
              *ngIf="user.uid !== '2cXuXRRfYaaItvmuNZESMJUtpCb2'"
              mat-icon-button
              (click)="deleteComment(i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div
            *ngIf="post.comments.length > 1"
            style="height: 1px; width: 100%; background-color: #00e676"
          ></div>
        </div>
      </mat-card>
    </div>
    <mat-card appearance="outlined">
      <span style="font-size: 1.2em">הגב לפוסט:</span>
      <mat-form-field style="text-align: right">
        <mat-label>שם</mat-label>
        <input
          matInput
          placeholder="שם"
          [(ngModel)]="comment.name"
          [disabled]="_auth.authState"
        />
      </mat-form-field>
      <mat-form-field style="text-align: right">
        <mat-label>להשאיר תגובה</mat-label>
        <textarea
          matInput
          placeholder=""
          [(ngModel)]="comment.content"
        ></textarea>
      </mat-form-field>
      <div style="text-align: left">
        <button mat-raised-button (click)="updateComment()" color="primary">
          להגיב
        </button>
      </div>
    </mat-card>
  </div>
</ng-container>
<section *ngIf="!post">
  <lottie-player
    src="https://assets10.lottiefiles.com/packages/lf20_knnirj9a.json"
    background="transparent"
    speed="1"
    style="width: 300px; height: 300px"
    loop
    autoplay
  ></lottie-player>
</section>
