mat-card {
  margin: 10px auto;
  max-width: 900px;
  background-color: #efefef70;
}
mat-form-field {
  width: 100%;
}
.mat-card-image {
  margin: 0 auto;
  height: auto;
  width: auto !important;
  max-width: 100%;
}
.share_button a {
  font-size: 40px;
  text-decoration: none;
}
#fixed_buttons {
  position: fixed;
  right: 0;
  top: 100px;
}
#fixed_buttons a {
  display: block;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  transition: all 0.3s;
  box-sizing: content-box;
  border-left-style: solid;
  border-left-width: 0;
}
#fixed_buttons a:hover {
  border-left-width: 5px;
}
#fixed_buttons a.facebook {
  background: #3c5a99;
  border-color: #3c5a99;
}
#fixed_buttons a.twitter {
  background: #1DA1F2;
  border-color: #1DA1F2;
}
#fixed_buttons a.linkedin {
  background: #007bb5;
  border-color: #007bb5;
}
#fixed_buttons a.google {
  background: #db4437;
  border-color: #db4437;
}
#fixed_buttons a.whatsapp {
  background: #25d366;
  border-color: #25d366;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  grid-gap: 10px; */
  margin: 0 auto;
  max-width: 95%;
}
