<div class="grid-container">
  <app-dashboard-nav></app-dashboard-nav>
  <mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile [colspan]="Device()" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title> הוסף קטגוריה </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="row">
            <div class="col-md-12">
              <form #fcat="ngForm" (ngSubmit)="saveCategory(fcat.value)">
                <div class="form-group">
                  <label for="name">קטגוריה</label>
                  <input
                    #titleCat="ngModel"
                    [(ngModel)]="categoryF"
                    name="name"
                    id="name"
                    type="text"
                    class="form-control"
                    required
                  />
                  <div
                    class="alert alert-danger"
                    *ngIf="titleCat.touched && titleCat.invalid"
                  >
                    שם קטגוריה חובה
                  </div>
                </div>
                <button class="btn btn-primary">שמור</button>
              </form>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="Device()" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title> הוסף מוצר לחנות </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="row">
            <div class="col-md-6">
              <form #f="ngForm" (ngSubmit)="saveProduct(f.value)">
                <div class="form-group">
                  <label for="title">שם מוצר</label>
                  <input
                    #titleProduct="ngModel"
                    [(ngModel)]="product.title"
                    name="title"
                    id="title"
                    type="text"
                    class="form-control"
                    required
                  />
                  <div
                    class="alert alert-danger"
                    *ngIf="titleProduct.touched && titleProduct.invalid"
                  >
                    Title is required.
                  </div>
                </div>
                <div class="form-group">
                  <label for="price">מחיר</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">₪</span>
                    </div>
                    <input
                      #price="ngModel"
                      [(ngModel)]="product.price"
                      name="price"
                      id="price"
                      type="number"
                      class="form-control"
                      required
                      [min]="0"
                    />
                  </div>
                  <div
                    class="alert alert-danger"
                    *ngIf="price.touched && price.invalid"
                  >
                    <div *ngIf="price.errors.required">Price is required.</div>
                    <div *ngIf="price.errors.min">
                      Price should be 0 or higher.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="category">קטגוריה</label>
                  <select
                    #category="ngModel"
                    [(ngModel)]="product.category"
                    name="category"
                    id="category"
                    class="form-control"
                    required
                  >
                    <option value=""></option>
                    <option
                      *ngFor="let c of categories$ | async"
                      [value]="c.id"
                    >
                      {{ c.name }}
                    </option>
                  </select>
                  <div
                    class="alert alert-danger"
                    *ngIf="category.touched && category.invalid"
                  >
                    Category is required.
                  </div>
                </div>
                <div class="form-group">
                  <label for="image">תמונה</label>
                  <input
                    #imageUrl="ngModel"
                    [(ngModel)]="product.image"
                    name="image"
                    id="image"
                    type="text"
                    class="form-control"
                    required
                    url
                  />
                  <div
                    class="alert alert-danger"
                    *ngIf="imageUrl.touched && imageUrl.invalid"
                  >
                    <div *ngIf="imageUrl.errors.required">
                      Image URL is required.
                    </div>
                    <div *ngIf="imageUrl.errors.url">
                      Please enter a valid URL.
                    </div>
                  </div>
                </div>
                <button class="btn btn-primary">שמור</button>
              </form>
            </div>
            <div class="col-md-6">
              <app-product-card
                [product]="product"
                [show-actions]="false"
              ></app-product-card>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title> הזמנות שבוצעו </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="row">
            <div class="col">
              <button mat-raised-button routerLink="/store" color="primary">
                הזמנה חדשה
              </button>
            </div>
          </div>

          <div class="table-container mat-elevation-z3">
            <div class="table-header">
              <mat-form-field>
                <input
                  matInput
                  (keyup)="applyFilter($event.target.value)"
                  placeholder="חפש..."
                />
              </mat-form-field>
            </div>

            <mat-table #table [dataSource]="dataSource">
              <!-- Title Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>שם לקוח</mat-header-cell>
                <mat-cell *matCellDef="let order">{{
                  order.shipping.name
                }}</mat-cell>
              </ng-container>

              <!-- Price Column -->
              <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef>תאריך הזמנה</mat-header-cell>
                <mat-cell *matCellDef="let order">
                  {{ order.datePlaced | date }}
                </mat-cell>
              </ng-container>

              <!-- Edit Column -->
              <ng-container matColumnDef="orderNumber">
                <mat-header-cell *matHeaderCellDef>מספר הזמנה</mat-header-cell>
                <mat-cell *matCellDef="let order"> {{ order.id }}</mat-cell>
              </ng-container>

              <!-- Edit Column -->
              <ng-container matColumnDef="view">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let order"
                  ><a [routerLink]="['/view-order/', order.id]"
                    >ראה הזמנה</a
                  ></mat-cell
                >
              </ng-container>

              <mat-header-row
                *matHeaderRowDef="displayedColumns"
              ></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns">
              </mat-row>
            </mat-table>

            <mat-paginator
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 50, 100]"
            >
            </mat-paginator>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title> ניהול מוצרים </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="table-container mat-elevation-z3">
            <mat-table [dataSource]="dataSourceProducts">
              <!-- Title Column -->
              <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef> שם מוצר </mat-header-cell>
                <mat-cell *matCellDef="let product">{{
                  product.title
                }}</mat-cell>
              </ng-container>

              <!-- Price Column -->
              <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef> מחיר </mat-header-cell>
                <mat-cell *matCellDef="let product">
                  {{ product.price | currency: "₪":true }}
                </mat-cell>
              </ng-container>

              <!-- Edit Column -->
              <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let product"
                  ><a [routerLink]="['/edit-product/', product.id]"
                    >עריכה</a
                  ></mat-cell
                >
              </ng-container>

              <mat-header-row
                *matHeaderRowDef="displayedPColumns"
              ></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedPColumns">
              </mat-row>
            </mat-table>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
