/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  direction: rtl;
}
body {
  margin: 0;
  font-family: "Rubik", "Helvetica Neue", sans-serif;
  overflow-y: hidden;
  background-color: #FFFEF3 !important;
  scroll-behavior: smooth;
}
.mat-body,
.mat-body-1,
.mat-typography {
  font: 400 14px/20px "Rubik", "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}
span {
  font-family: "Rubik", sans-serif !important;
}
p {
  margin-bottom: 0.1rem !important;
}
h2,small {
  font-family: "Rubik", sans-serif !important;
}
