<section  style="margin-bottom: 2em;">
  <mat-form-field style="text-align: right;">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput type="search" placeholder="חפש פוסט" class="search-input" (input)="filterPost()" [(ngModel)]="filter">
</mat-form-field>
  <mat-card *ngFor="let post of filteredPosts">
    <mat-card-content routerLink="{{post.id}}" style="text-align: center;">
      <h2 style="color: #000;">{{post.title}}</h2>
      <img *ngIf="post.image" src="{{post.image}}" alt="{{post.title}}">
      <p><small>נכתב ע"י {{post.author}} &bull; ב {{post.published.toMillis() | date:'dd/MM/yyyy HH:mm'}}</small></p>
    </mat-card-content>
    <mat-card-actions align="end" *ngIf="_auth.currentUserId === post.authorID">
      <button mat-icon-button (click)="delete(post.id)" color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</section>
