<section *ngIf="filteredPosts" id="listOfPost" style="margin-bottom: 2em">
  <mat-form-field class="mt-3" style="text-align: right" color="warn">
    <mat-icon matPrefix>search</mat-icon>
    <input
      matInput
      type="search"
      placeholder="חפש פוסט או תגיות"
      class="search-input"
      (input)="filterPost()"
      [(ngModel)]="filter"
    />
  </mat-form-field>
  <mat-card appearance="outlined" *ngFor="let post of filteredPosts">
    <mat-card-content style="text-align: center">
      <h2 style="color: #000" routerLink="{{ post.id }}">{{ post.title }}{{post.draft ? '(טיוטה)':''}}</h2>
      <img
        *ngIf="post.image"
        src="{{ post.image }}"
        alt="{{ post.title }}"
        routerLink="{{ post.id }}"
      />
      <p>
        <small
          >נכתב ע"י {{ post.author }} &bull; ב
          {{ post.published.toMillis() | date: "dd/MM/yyyy HH:mm" }}</small
        >
      </p>
      <p *ngIf="post.tags && post.tags.length > 0">
        מתויג
        <i
          ><span
            *ngFor="let tag of post.tags; let i = index"
            (click)="filter = tag; filterPost()"
            >{{ tag }} {{ i == post.tags.length - 1 ? "" : "," }}</span
          ></i
        >
      </p>
      <p style="text-align: left; font-size: 20px">
        <mat-icon
          matBadgeColor="accent"
          matBadgePosition="before"
          matBadge="{{ (post.comments && post.comments.length) || '0' }}"
          (click)="showComments(post)"
        >
          message
        </mat-icon>
      </p>
    </mat-card-content>
    <mat-card-actions align="end" *ngIf="_auth.currentUserId === post.authorID">
      <button mat-icon-button (click)="delete(post.id)" color="warn">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button (click)="visible(post.id,post.draft)" [color]="post.draft ? 'warn': 'primary'">
        <mat-icon>visibility</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <div class="pagination">
    <a (click)="changePage(this.page - 1)">&laquo;</a>
    <a
      [@changePage]="this.page == i + 1 ? 'active' : 'notActive'"
      (click)="changePage(i + 1)"
      *ngFor="let p of [].constructor(numOfPages); let i = index"
      >{{ i + 1 }}</a
    >
    <a (click)="changePage(this.page + 1)">&raquo;</a>
  </div>
</section>
<section *ngIf="!filteredPosts">
  <lottie-player
    src="https://assets10.lottiefiles.com/packages/lf20_knnirj9a.json"
    background="transparent"
    speed="1"
    style="width: 300px; height: 300px"
    loop
    autoplay
  ></lottie-player>
</section>
<dx-popup
  [width]="300"
  [height]="280"
  [showTitle]="true"
  title="תגובות"
  [dragEnabled]="false"
  [rtlEnabled]="true"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  container=".dx-viewport"
  [(visible)]="popupVisible"
>
  <dxo-position my="center"> </dxo-position>
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view width="100%" height="100%">
      <mat-card appearance="outlined" *ngIf="postPopup.comments.length > 0; else NoComments">
        <div *ngFor="let comment of postPopup.comments; let index = i">
          <span
            >שם המגיב: <b>{{ comment.name }}</b></span
          >
          <br />
          <blockquote style="background-color: #f9f9f9">
            {{ comment.content }}
          </blockquote>
          <div
            *ngIf="postPopup.comments.length > 1"
            style="height: 1px; width: 100%; background-color: #00e676"
          ></div>
        </div>
      </mat-card>
      <ng-template #NoComments> אין תגובות עדיין 😔 </ng-template>
    </dx-scroll-view>
  </div>
</dx-popup>
